// Mixins sr-only-*
// =======================================================================


// Lu uniquement par les vocaliseurs d'écrans
// ------------------------------------------
// http://www.ffoodd.fr/cache-cache-css/


@mixin sr-only() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

// force la visibilité d'un élément auparavant sr-only
// ---------------------------------------------------
@mixin sr-only-visible() {
  position: static;
  width: auto;
  height: auto;
  margin: auto;
  padding: 0;
  overflow: visible !important;
  clip: auto;
  -webkit-clip-path: none;
          clip-path: none;
  white-space: normal;
}

// N'est visible qu'à la prise de focus
// ---------------------------------------------------
@mixin sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
    -webkit-clip-path: none;
            clip-path: none;
    white-space: normal;
  }
}
