// mixin table
// ================
//
// @mixin table
// @mixin table-sm
// @mixin table-bordered
// @mixin table-striped 
// @mixin table-hover 
// @mixin table-responsive 
// @mixin table-row-variant 
// @mixin table-inverse 


@mixin table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  background-color: $table-bg;

  caption {
    padding-top: $table-cell-padding;
    padding-bottom: $table-cell-padding;
    text-align: left;
    color: $body-color;
  }

  th {
    text-align: left;
  }

  th,
  td {
    padding: $table-cell-padding;
    line-height: $line-height;
    vertical-align: top;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

}


// Condensed table w/ half padding
// -------------------------------

@mixin table-sm {
  th,
  td {
    padding: $table-sm-cell-padding;
  }
}


// Bordered version
// ----------------
// Add borders all around the table and between all the columns.

@mixin table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: (2 * $table-border-width);
    }
  }
}


// Zebra-striping
// --------------
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

@mixin table-striped {
  tbody tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}


// Hover effect
// ------------
// Placed here since it has to come after the potential zebra striping


@mixin table-hover {
  tbody tr {
    @include hover {
      background-color: $table-bg-hover;
    }
  }
}


// Responsive tables
// -----------------
// Mobile friendly by enabling horizontal scrolling.
// Only applies <768px. Everything above that will display normally.

@mixin table-responsive {
  display: block;
  width: 100%;
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;
}


// Table row variant

@mixin table-row-variant($state, $background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .table-#{$state} {
    &,
    > th,
    > td {
      background-color: $background;
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover {
    $hover-background: darken($background, 5%);

    .table-#{$state} {
      @include hover {
        background-color: $hover-background;

        > td,
        > th {
          background-color: $hover-background;
        }
      }
    }
  }
}



// Inverse styles
//
// Same table markup, but inverted color scheme: dark background and light text.

@mixin table-inverse () {

  .thead-inverse {
    th {
      color: $table-inverse-text-color;
      background-color: $table-inverse-bg-color;
    }
  }

  .thead-default {
    th {
      color: $gray-2;
      background-color: $gray-8;
    }
  }

  .table-inverse {
    color: $table-inverse-text-color;
    background-color: $table-inverse-bg-color;

    th,
    td,
    thead th {
      border-color: $table-inverse-border-color;
    }

    &.table-bordered {
      border: 0;
    }
  }
  
}

