// rwd-block-width
// -------------------------------------------

@mixin rwd-block-width($block) {

  @if $enable-rwd and map-has-key($max-block-width-map, $block) {
    $map: map-get($max-block-width-map, $block);
    $base: map-get($map, base);

    @include propValue($base);

    $mq: map-remove($map, base);

    @each $bp, $attr in $mq {
      @include media-breakpoint-up($bp) {
        @include propValue($attr);
      }
    }
  }

}

