/// Compute the maximum depth of a map
/// @param {Map} $map
/// @return {Number} max depth of `$map`

/// @credit Hugo Giraudel http://www.sitepoint.com/debugging-sass-maps/

@function depth($map) {
  $level: 1;

  @each $key, $value in $map {
    @if type-of($value) == "map" {
      $level: max(depth($value) + 1, $level);
    }
  }

  @return $level;
}


@mixin debug-map($map) {
  @at-root {
    @debug-map {
      __toString__: inspect($map);
      __length__: length($map);
      __depth__: depth($map);
      __keys__: map-keys($map);
      __properties__ {
        @each $key, $value in $map {
          #{'(' + type-of($value) + ') ' + $key}: inspect($value);
        }
      }
    }
  }
}


// // usage

// $person: (
//     'name': 'Hugo Giraudel',
//     'location': 'France',
//     'age': 22,
//     'glasses': true,
//     'kids': null,
//     'skills': ('HTML', 'CSS', 'Sass', 'JavaScript'),
//     'languages': (
//         'French': 'native',
//         'English': 'fluent',
//         'Spanish': 'notions'
//     )
// );

// @include debug-map($person);
