// $path_to_font : "../webfonts/fonticon/";

@font-face {
  font-family: 'fonticon';
  src:url('../webfonts/fonticon/fonticon.eot?-9iu2z6');
  src:url('../webfonts/fonticon/fonticon.eot?#iefixe-9iu2z6') format('embedded-opentype'),
    url('../webfonts/fonticon/fonticon.woff?-9iu2z6') format('woff'),
    url('../webfonts/fonticon/fonticon.ttf?-9iu2z6') format('truetype'),
    url('../webfonts/fonticon/fonticon.svg?-9iu2z6#fonticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'fonticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doc:before          {content: "\e900";}

.icon-compte:before       {content: "\e801";}
.icon-calendar:before     {content: "\e800";}

.icon-asso:before         {content: "\e632";}
.icon-param:before        {content: "\e633";}
.icon-pending:before      {content: "\e634";}
.icon-balloon:before      {content: "\e635";}

.icon-attention2:before   {content: "\e630";}
.icon-attention:before    {content: "\e627";}
.icon-trash:before        {content: "\e628";}
.icon-close2:before       {content: "\e629";}
.icon-star:before         {content: "\e62a";}
.icon-partage:before      {content: "\e62b";}
.icon-more2:before        {content: "\e62c";}
.icon-triangle:before     {content: "\e62d";}
.icon-next:before         {content: "\e62e";}
.icon-edit:before         {content: "\e62f";}

.icon-more:before         {content: "\e626";}
.icon-home:before         {content: "\e625";}
.icon-google-plus:before  {content: "\e624";}
.icon-format:before       {content: "\e622";}
.icon-rss:before          {content: "\e623";}
.icon-web:before          {content: "\e61f";}
.icon-rappel:before       {content: "\e621";}
.icon-info2:before        {content: "\e61c";}
.icon-aSavoir:before      {content: "\e61d";}
.icon-aNoter:before       {content: "\e61e";}
.icon-attention:before    {content: "\e615";}

.icon-folder:before       {content: "\e619";}
.icon-user:before         {content: "\e61a";}
.icon-arobase:before      {content: "\e61b";}
.icon-danger:before       {content: "\e615";}
.icon-warning:before      {content: "\e616";}
.icon-info:before         {content: "\e617";}
.icon-success:before      {content: "\e618";}
.icon-formulaire:before   {content: "\e614";}
.icon-mairie:before       {content: "\e613";}
.icon-message:before      {content: "\e620";}
.icon-ecrire:before       {content: "\e60f";}
.icon-horaires:before     {content: "\e610";}
.icon-phone:before        {content: "\e611";}
.icon-pieton:before       {content: "\e612";}
.icon-menu:before         {content: "\e60e";}
.icon-external-link:before {content: "\e60c";}
.icon-download:before     {content: "\e60d";}
.icon-comment:before      {content: "\e60b";}
.icon-chevron-up:before   {content: "\e60a";}
.icon-chevron-down:before {content: "\e608";}
.icon-chevron-back:before {content: "\e609";}
.icon-chevron:before      {content: "\e607";}
.icon-search:before       {content: "\e600";}
.icon-twitter:before      {content: "\e601";}
.icon-facebook:before     {content: "\e602";}
.icon-print:before        {content: "\e605";}
.icon-mail:before         {content: "\e604";}
.icon-help:before         {content: "\e603";}
.icon-close:before        {content: "\e606";}
