// settings

$input-btn-border-width:         $border-width !default; // For form controls and buttons
$caret-width:                    $border-width !default;
$caret-width-lg:                 $border-width * 2 !default;

$btn-padding-x:                  1em !default;
$btn-padding-y:                  .25em !default;
$btn-font-weight:                normal !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $primary-color !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-secondary-color:            $gray-3 !default;
$btn-secondary-bg:               #fff !default;
$btn-secondary-border:           #ccc !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $info-color !default;
$btn-info-border:                $btn-info-bg !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $success-color !default;
$btn-success-border:             $btn-success-bg !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $warning-color !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $danger-color !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-link-disabled-color:        $gray-8 !default;

$btn-padding-x-sm:               .75em !default;
$btn-padding-y-sm:               .25em !default;

$btn-padding-x-lg:               1.25em !default;
$btn-padding-y-lg:               .75em !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;

// mixins
@import "mixin-buttons";

// styles
@import "style-buttons";
@import "style-buttons-group";


