
/* --------------------------------- */
/* -- Module de pagination simple -- */
/* --------------------------------- */

.pagination {
  display: inline-block;
  padding-left: 0;

  a {
    color: $body-color;
  }

  ul li {
    list-style-type: none;
  }
}

.page-item {
  display: inline-block;
  margin-right: -5px;
}

.page-link,
.page-etc {
  padding: 0.5em 0.75em;
  text-decoration: none;
  color: $page-link-color;
  background: $page-link-bg;
  border: 1px solid $page-link-border;
}

.page-link:focus,
.page-link:hover {
  color: $page-link-color-focus;
  background-color: $page-link-bg-focus;
  text-decoration: none;
}

.active {
  .page-link {
    color: $page-link-active-color;
    background-color: $page-link-active-bg;
    text-decoration: none;
    font-weight: bold;
  }
}

.page-item-prev, .page-item-next {
  position: relative;
}

.page-item-prev a {
  padding-left: 2em;

  span {
    @include media-breakpoint-down(small) {
      @include sr-only();
    }
  }
}

.page-item-next a {
  padding-right: 2em;

    span {
    @include media-breakpoint-down(small) {
      @include sr-only();
    }
  }
}
.page-item-prev .page-link:before {
  content: $page-item-prev-icon;
  speak: none;
  font-size: 2.5em;
  padding: .25em .45em;
  position: absolute;
  left: 0;
  top: -0.55em;
  line-height: 1;

  // un mixin pour les after et before
  @include media-breakpoint-up(medium) {
    font-size: 1.75em;
    padding: .2em .5em;
    top: -0.375em;
  }
}

.page-item-next .page-link:after {
  content: $page-item-next-icon;
  speak: none;
  font-size: 2.5em;
  padding: .25em .45em;
  position: absolute;
  right: 0;
  top: -0.55em;
  line-height: 1;

  @include media-breakpoint-up(medium) {
    font-size: 1.75em;
    padding: .2em .5em;
    top: -0.375em;
  }
}
